@charset "UTF-8";
/*공통 스타일*/
#map {
  position: relative;
  background: url(../img/mapBg6.png) repeat-x center bottom;
  padding: 100px 0 80px;
}
#map::before, #map::after {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
}
#map::before {
  background-image: url(../img/mapBg4.png);
  right: 0;
  top: 0;
  width: 12vw;
  height: 14vw;
  background-size: contain;
}
#map::after {
  background-image: url(../img/mapBg5.png);
  left: 0;
  bottom: 0;
  width: 14vw;
  height: 67%;
  background-position: left bottom;
  background-size: cover;
}
#map .link {
  color: #B2A569;
}
#map button {
  background-color: transparent;
  border: 0;
  padding: 0;
}
#map .mapLeftS {
  max-width: 350px;
  margin-left: 70px;
}
#map .mapLeftS .mapTitleS {
  position: relative;
  text-align: center;
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 50px;
}
#map .mapLeftS .mapTitleS::before, #map .mapLeftS .mapTitleS::after {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 10vw;
  height: 10vw;
  top: 0;
}
#map .mapLeftS .mapTitleS::before {
  background-image: url(../img/mapBg3.png);
  left: -12vw;
}
#map .mapLeftS .mapTitleS::after {
  background-image: url(../img/mapBg2.png);
  right: -12vw;
}
#map .mapLeftS .mapCategoryS {
  text-align: center;
  margin-bottom: 80px;
}
#map .mapLeftS .mapCategoryS span {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}
#map .mapLeftS .mapInfoS {
  max-width: 340px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#map .mapLeftS .mapInfoS .mapInfoWrapS {
  padding: 20px;
}
#map .mapLeftS .mapInfoS .mapInfoWrapS img {
  border-radius: 10px;
}
#map .mapLeftS .mapInfoS .mapInfoWrapS p {
  position: relative;
  font-size: 24px;
  font-weight: 800;
  margin: 12px 0 16px;
}
#map .mapLeftS .mapInfoS .mapInfoWrapS p::after {
  content: "";
  background: url(../img/EventArrow.svg) no-repeat;
  width: 44px;
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#map .mapLeftS .mapInfoS .mapInfoWrapS .mapInfoTextS {
  font-size: 14px;
  min-height: 130px;
}
#map .mapLeftS .mapInfoS .mapInfoWrapS .mapInfoTextS li {
  display: flex;
  margin: 4px 0;
}
#map .mapLeftS .mapInfoS .mapInfoWrapS .mapInfoTextS li i {
  margin-right: 10px;
}
#map .mapLeftS .mapInfoS .mapInfoLocationS {
  padding: 10px 20px;
  border-top: 1px solid #E1E1E1;
}
#map .mapLeftS .mapInfoS .mapInfoLocationS li {
  margin-left: 10px;
}
#map .mapLeftS .mapInfoS .mapInfoLocationS li:first-child i {
  margin-right: 10px;
}
#map .mapRightS {
  position: relative;
  margin: 120px 0 0 224px;
}
#map .mapRightS::before {
  content: "";
  display: block;
  background: url(../img/mapBg1.png) no-repeat;
  background-size: contain;
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: -4vw;
  right: -10vw;
}
#map .mapRightS .mapTextS {
  position: absolute;
  top: 50px;
  right: -80px;
  z-index: 1;
}
#map .mapRightS .mapTextS button {
  margin: 0 0 10px 4px;
}
#map .mapRightS .mapTextS button:first-child {
  margin-left: 0;
}
#map .mapRightS .mapTextS button i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
#map .mapRightS .mapTextS p {
  font-size: 19px;
}
#map .mapRightS .mapViewS {
  position: relative;
}
#map .mapRightS .mapViewS .mapCategoryPointS {
  position: absolute;
  width: 100%;
  height: 100%;
}
#map .mapRightS .mapViewS .mapCategoryPointS p {
  position: absolute;
}
#map .mapRightS .mapViewS .mapCategoryPointS p::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
#map .mapRightS .mapViewS .mapCategoryPointS p.food {
  top: 230px;
  left: 240px;
}
#map .mapRightS .mapViewS .mapCategoryPointS p.food::before {
  background-color: #FF7682;
}
#map .mapRightS .mapViewS .mapCategoryPointS p.cafe {
  top: 340px;
  left: 200px;
}
#map .mapRightS .mapViewS .mapCategoryPointS p.cafe::before {
  background-color: #FF9268;
}
#map .mapRightS .mapViewS .mapCategoryPointS p.activity {
  top: 360px;
  left: 310px;
}
#map .mapRightS .mapViewS .mapCategoryPointS p.activity::before {
  background-color: #A374C8;
}
#map .mapRightS .mapViewS .mapCategoryPointS p.landmark {
  top: 280px;
  left: 320px;
}
#map .mapRightS .mapViewS .mapCategoryPointS p.landmark::before {
  background-color: #8AE89F;
}
#map .mapRightS .mapViewS .mapCategoryPointS p.festival {
  top: 170px;
  left: 280px;
}
#map .mapRightS .mapViewS .mapCategoryPointS p.festival::before {
  background-color: #77C5FF;
}