@charset "UTF-8";
#mainslider {
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}
#mainslider::after {
  content: "";
  display: block;
  position: absolute;
  height: 45px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #fff;
}
#mainslider .mainwrapper {
  position: relative;
  margin-left: -750px;
  overflow-x: hidden;
}
#mainslider .mainwrapper .mainTextbox {
  max-width: 700px;
  margin-top: 396px;
  min-width: 420px;
  width: 20vw;
}
#mainslider .mainwrapper .mainTextbox .mainSlidetext p {
  font-size: 18px;
  font-weight: 400;
  color: white;
  background: #000;
  border-radius: 30px;
  width: 155px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainslider .mainwrapper .mainTextbox .mainSlidetext strong {
  font-size: 36px;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: -6%;
}
#mainslider .mainwrapper .mainTextbox .mainSlidetext .text-with-underline {
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 1px; /* 텍스트와 밑줄 사이의 공간 조정 */
}
#mainslider .mainwrapper .mainTextbox .mainSlidetext .text-with-underline::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #333;
  margin-top: 1px;
  width: 4.8rem;
}
#mainslider .mainwrapper .mainPagebox .swiper-progress-bar {
  bottom: 17px;
  right: 60%;
  height: 2px;
  background: #ccc;
  overflow: hidden;
  position: absolute;
  width: 170px;
}
#mainslider .mainwrapper .mainPagebox .swiper-progress-bar .slide_progress-bar {
  position: relative;
  width: 100%;
  height: 100%;
}
#mainslider .mainwrapper .mainPagebox .swiper-progress-bar .slide_progress-bar .fill {
  background: #000;
  height: 100%;
  width: 0%; /* 초기 너비 설정 */
  position: absolute;
  left: 0;
  top: 0;
  transition: width 5s linear;
}
#mainslider .mainwrapper .mainPagebox .numberui {
  margin-left: 200px;
  align-items: center;
  font-size: 15px;
  letter-spacing: 0 !important;
}
#mainslider .mainwrapper .mainPagebox .numberui .swiper-pagination-current {
  color: #000;
}
#mainslider .mainwrapper .mainPagebox .numberui .swiper-pagination-total {
  color: #666;
}
#mainslider .mainwrapper .mainPagebox .btn {
  position: absolute;
  bottom: 7px;
  right: 20%;
  width: 60px;
  padding: 0 3px;
  border: 0;
  z-index: 100000;
  cursor: default;
}
#mainslider .mainwrapper .mainPagebox .btn .button-prev {
  margin: 0;
  border: 0;
  width: 10px;
  height: 11px;
  background: url("/myrealcode/img/mainLeft.svg") no-repeat;
  background-size: 10px;
}
#mainslider .mainwrapper .mainPagebox .btn .button_autoControl {
  overflow: hidden;
  display: inline-block;
  padding: 0;
  width: 10px;
  height: 11px;
  border: none;
  background: url("/myrealcode/img/mainStop.svg") no-repeat;
}
#mainslider .mainwrapper .mainPagebox .btn .button_autoControl.play {
  background: url("/myrealcode/img/mainPlay.svg") no-repeat;
}
#mainslider .mainwrapper .mainPagebox .btn .button-next {
  margin: 0;
  border: 0;
  width: 10px;
  height: 11px;
  background: url("/myrealcode/img/mainRight.svg") no-repeat;
}
#mainslider .mainImgbox {
  margin-top: 264px;
  height: 580px;
  z-index: 2;
  width: 1100px;
}
#mainslider .mainImgbox .swiper-slide img {
  border-radius: 10px;
  width: 100%;
  height: 580px;
  -o-object-fit: cover;
  object-fit: cover;
}

#sns img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, filter 0.3s ease;
  position: relative; /* 상대적인 위치 지정 */
}
#sns .snsImgR {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}
#sns .snsImgR:hover {
  transform: scale(1.3);
  filter: none;
  z-index: 2; /* 확대된 이미지가 다른 요소 위로 올라가게 함 */
}
#sns .snsImgR:hover ~ .snsImg::after { /* 이미지와 같은 레벨에 있는 .snsImg::after에 적용 */
  transform: scale(1.3); /* 이미지와 동일한 크기로 확대 */
}
#sns .snsImgR::after {
  content: "";
  background: url(/myrealcode/img/instagram2.svg) no-repeat;
  width: 13px;
  height: 13px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: transform 0.5s ease; /* 확대되는 애니메이션을 위한 트랜지션 */
  transform-origin: top right; /* 우측 상단을 기준으로 확대 */
  z-index: 1;
}
#sns .snsLefttextR h2 {
  font-size: 30px;
  font-weight: 700;
}
#sns .snsLefttextR p {
  font-size: 20px;
  font-weight: 400;
}
#sns .snsLefttextR p span {
  color: #B2A569;
  font-weight: 500;
}
#sns .snsRighttextR strong {
  font-size: 14px;
  font-weight: 500;
  color: white;
  background: #000;
  border-radius: 30px;
  width: 97px;
  height: 37px;
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}
#sns .snsRighttextR p {
  font-size: 14px;
  font-weight: 400;
}