/* .popupshow::before{
    content: "";
    position:fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background-color: rgba(0,0,0, .5);
}
#popupform{
    display: none;
    background-color: white;
    min-width: 280px;
    max-width: 600px;
    width: 50vw;
    padding: 1rem;
    box-sizing: border-box;
    position: absolute;
    -- 포지션이 있는 것들이 앞으로 간다.(위로 올라감)
    margin: auto;    -- 바깥여백 똑같이. 그러니까 가운데 정렬
    left: 0; right: 0; top: 10vw; bottom: 10vw;
}
.popupshow #popupform{
    display: block;
}
form li p{
    display: none;
}
input[type='text']:focus + p{
    display: block;
} */

body *{
    font-family: "IBM Plex Sans KR", sans-serif !important;
    color: #333333;
    letter-spacing: -1px;
}
// 헤더
#hd{
    background-color: #FFEBB7;
    a{
        text-decoration: none;
        color: #333333;
    }
    .gnb{
            ul{
                top: 100%;
                font-size: 0.9em;
                white-space: nowrap;
                height: 0;
                transition: 0.5s;
                overflow: hidden;
                min-width:100px;
                text-align: center;
                &.left{
                    left: -20px !important;
                }
                &.event{
                    left: -30px !important;
                    min-width: 108px;
                }
                &.reservation{
                    left: -20px !important;
                    min-width: 115px;
                }
            }
            &:hover{
                ul{
                    height: 180px;
                }
            }
            
            .d1{
                > a{
                    font-weight: bold;
                }
                li:hover{
                    > a{
                        font-weight: bold;
                        text-decoration: underline;
                    }
                }
            }
         
    }
    
}

// SNS
#sns {
    .snsImg {
        position: relative;
        width: 100%;
        height: 100%;
        &::after {
            content: "";
            background: url(../img/instagram2.svg) no-repeat;
            width: 13px;
            height: 13px;
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    .snsColor{
        color: #B2A569;
        font-weight: bold;
    }
    h2{
        font-weight: bold;
    }
    
    .right li strong{
        width: 97px;
        text-align: center;
    }
}


// 국내여행지 추천
#recommend{
        .containerJ{
            background-color: #FFEBB7;
            max-width: 1920px;
            width: 100%;
            margin: 0 auto;
            height: 550px;
        }
        h2{
            font-weight: bold;
        }
        
        .nbJ{
            > div{
                >div{
                overflow: hidden;
                border-radius: 122.5px 122.5px 0 0; 
                .card{
           
                    img{
                        width:245px;
                        height: 300px;
                        object-fit: cover;
                    }
                    p{
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin-bottom: 0;
                        background-color: rgba(0,0,0,0.5);
                    }
                }
            }

            }
            > :nth-child(5){ 
                
                position: relative;
                
                width: 334px;
                height: 450px;
                
                top: -80px;
                >div{
                    overflow: hidden;
                    border-radius: 162.5px 162.5px 0 0; 
                    border: 17px solid white;
                    .card{
                        img{
                            width: 100%;
                            height: auto;
                        }
                       
                        p{
                            background-color: transparent;
                        }
                    }

                }
               
            }

        }
        // #bigImg{
        //     .pointJ{
        //         background-color: white;
        //         width: 334px;
        //         height: 450px;
        //         overflow: hidden;
        //         border-radius: 150px 150px 0 0;
        //         margin-left: -17px;
    
        //         .pointImgJ{
        //             width: 280px;
        //             height: 320px;
        //             object-fit: cover;
        //         }
        //     }
        // } 


    //  .half-circle{
    //     width: 33%;
    //     height: 100%;
    //     float: left;
    //     position: relative;
    //     overflow: hidden;
    //     border-radius: 50%;
    //     clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    
}
